/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  
/*header*/
.container1{padding: 0 10px;}
 header{5px 5px;}

 .logo{width: 180px;}

.menu ul li a{margin-bottom: 10px;
padding: 0 10px !important;}

/*banner start*/
.banner
{padding-bottom: 6px;}

.b_text{text-align: center;
}

.b_p1{text-align: center !important;
padding: 0px auto;
margin: 0 auto;
font-size: 25px;
padding-bottom: 0px;}

.b_p2{padding-bottom:5px;
line-height: 25px;
text-align: center;}
.b_h1{padding: 0;
font-size: 40px;
padding-top: 2Px;}
.btn-link{margin: 15px auto opx;
text-align: center !important;
padding-top: 10px;}

.b_img{margin-bottom: 20px;
padding: 0px;}





}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)




}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}









 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}


 /*Extra large devices ( large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}



 /* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}